USE [GraduationProject]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [varchar](50) NOT NULL,
	[Difficulty] [int] NOT NULL,
	[EstimatedHours] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Topics_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTopicMastery]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTopicMastery](
	[UserId] [bigint] NOT NULL,
	[TopicId] [int] NOT NULL,
	[Mastery] [decimal](3, 2) NOT NULL,
	[Confidence] [decimal](3, 2) NOT NULL,
	[Interest] [decimal](3, 2) NOT NULL,
	[EvidenceCount] [int] NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserTopicMastery] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserSkillsView]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserSkillsView]
AS
SELECT
    UTM.UserId,
    T.TopicId AS TopicId,
    T.Name AS SkillName,
    UTM.Mastery AS Proficiency,
    UTM.Confidence AS Confidence,
    UTM.EvidenceCount AS EvidenceCount,
    UTM.LastUpdated AS LastUpdated
FROM dbo.UserTopicMastery UTM
JOIN dbo.Topics T ON UTM.TopicId = T.TopicId;
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[CertificateId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Issuer] [nvarchar](150) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[Url] [varchar](2048) NULL,
	[CredentialId] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Certificates] PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[EducationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Institution] [nvarchar](300) NOT NULL,
	[Degree] [nvarchar](300) NULL,
	[Field] [nvarchar](200) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Location] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evidence]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidence](
	[EvidenceId] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionId] [bigint] NOT NULL,
	[TopicId] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Score] [decimal](3, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Evidence] PRIMARY KEY CLUSTERED 
(
	[EvidenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experiences]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiences](
	[ExperienceId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Company] [nvarchar](300) NOT NULL,
	[Role] [nvarchar](300) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Location] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Current] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[GoalId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Priority] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Goals] PRIMARY KEY CLUSTERED 
(
	[GoalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[Url] [nvarchar](1024) NULL,
	[Role] [nvarchar](200) NULL,
	[Technologies] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[SessionId] [bigint] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[ResourceId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Url] [varchar](2048) NOT NULL,
	[Difficulty] [int] NOT NULL,
	[Depth] [int] NOT NULL,
	[EstimatedMinutes] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceTopicCoverage]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceTopicCoverage](
	[ResourceId] [bigint] NOT NULL,
	[TopicId] [int] NOT NULL,
	[CoverageWeight] [decimal](3, 2) NOT NULL,
	[DifficultyContribution] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_ResourceTopicCoverage] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC,
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySessions]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySessions](
	[SessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ResourceId] [bigint] NOT NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[EndedAt] [datetime2](7) NULL,
	[DurationMinutes]  AS (datediff(minute,[StartedAt],[EndedAt])),
	[SessionSummary] [nvarchar](max) NULL,
 CONSTRAINT [PK_StudySessions] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicRelationships]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicRelationships](
	[RelationshipId] [int] IDENTITY(1,1) NOT NULL,
	[SourceTopicId] [int] NOT NULL,
	[TargetTopicId] [int] NOT NULL,
	[RelationshipType] [varchar](50) NOT NULL,
	[Weight] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_TopicRelationships] PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDomains]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDomains](
	[UserId] [bigint] NOT NULL,
	[TopicId] [int] NOT NULL,
	[Score] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_UserDomains] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/06/2026 3:24:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Evidence] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Experiences] ADD  DEFAULT ((0)) FOR [Current]
GO
ALTER TABLE [dbo].[Experiences] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Experiences] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((1)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((1)) FOR [Depth]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ResourceTopicCoverage] ADD  DEFAULT ((1.00)) FOR [CoverageWeight]
GO
ALTER TABLE [dbo].[ResourceTopicCoverage] ADD  DEFAULT ((1.00)) FOR [DifficultyContribution]
GO
ALTER TABLE [dbo].[TopicRelationships] ADD  DEFAULT ((1.00)) FOR [Weight]
GO
ALTER TABLE [dbo].[Topics] ADD  DEFAULT ((1)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTopicMastery] ADD  DEFAULT ((0.00)) FOR [Mastery]
GO
ALTER TABLE [dbo].[UserTopicMastery] ADD  DEFAULT ((0.00)) FOR [Confidence]
GO
ALTER TABLE [dbo].[UserTopicMastery] ADD  DEFAULT ((0.50)) FOR [Interest]
GO
ALTER TABLE [dbo].[UserTopicMastery] ADD  DEFAULT ((0)) FOR [EvidenceCount]
GO
ALTER TABLE [dbo].[UserTopicMastery] ADD  DEFAULT (getutcdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD  CONSTRAINT [FK_Certificates_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Certificates] CHECK CONSTRAINT [FK_Certificates_User]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_Educations_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_Educations_User]
GO
ALTER TABLE [dbo].[Evidence]  WITH CHECK ADD  CONSTRAINT [FK_Evidence_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[StudySessions] ([SessionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Evidence] CHECK CONSTRAINT [FK_Evidence_Session]
GO
ALTER TABLE [dbo].[Evidence]  WITH CHECK ADD  CONSTRAINT [FK_Evidence_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[Evidence] CHECK CONSTRAINT [FK_Evidence_Topic]
GO
ALTER TABLE [dbo].[Experiences]  WITH CHECK ADD  CONSTRAINT [FK_Experiences_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Experiences] CHECK CONSTRAINT [FK_Experiences_User]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_User]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[StudySessions] ([SessionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Session]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_User]
GO
ALTER TABLE [dbo].[ResourceTopicCoverage]  WITH CHECK ADD  CONSTRAINT [FK_RTC_Resource] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResourceTopicCoverage] CHECK CONSTRAINT [FK_RTC_Resource]
GO
ALTER TABLE [dbo].[ResourceTopicCoverage]  WITH CHECK ADD  CONSTRAINT [FK_RTC_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[ResourceTopicCoverage] CHECK CONSTRAINT [FK_RTC_Topic]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Resource] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [FK_Sessions_Resource]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [FK_Sessions_User]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [FK_TopicRel_Source] FOREIGN KEY([SourceTopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [FK_TopicRel_Source]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [FK_TopicRel_Target] FOREIGN KEY([TargetTopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [FK_TopicRel_Target]
GO
ALTER TABLE [dbo].[UserDomains]  WITH CHECK ADD  CONSTRAINT [FK_UserDomains_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[UserDomains] CHECK CONSTRAINT [FK_UserDomains_Topic]
GO
ALTER TABLE [dbo].[UserDomains]  WITH CHECK ADD  CONSTRAINT [FK_UserDomains_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDomains] CHECK CONSTRAINT [FK_UserDomains_User]
GO
ALTER TABLE [dbo].[UserTopicMastery]  WITH CHECK ADD  CONSTRAINT [FK_UTM_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[UserTopicMastery] CHECK CONSTRAINT [FK_UTM_Topic]
GO
ALTER TABLE [dbo].[UserTopicMastery]  WITH CHECK ADD  CONSTRAINT [FK_UTM_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTopicMastery] CHECK CONSTRAINT [FK_UTM_User]
GO
ALTER TABLE [dbo].[Evidence]  WITH CHECK ADD  CONSTRAINT [CK_Evidence_Score] CHECK  (([Score]>=(0.00) AND [Score]<=(1.00)))
GO
ALTER TABLE [dbo].[Evidence] CHECK CONSTRAINT [CK_Evidence_Score]
GO
ALTER TABLE [dbo].[Evidence]  WITH CHECK ADD  CONSTRAINT [CK_Evidence_Type] CHECK  (([Type]='retention_test' OR [Type]='assessment' OR [Type]='quiz' OR [Type]='study_time'))
GO
ALTER TABLE [dbo].[Evidence] CHECK CONSTRAINT [CK_Evidence_Type]
GO
ALTER TABLE [dbo].[Resources]  WITH CHECK ADD  CONSTRAINT [CK_Resources_Type] CHECK  (([Type]='Documentation' OR [Type]='Book' OR [Type]='Course' OR [Type]='PDF' OR [Type]='Article' OR [Type]='Youtube'))
GO
ALTER TABLE [dbo].[Resources] CHECK CONSTRAINT [CK_Resources_Type]
GO
ALTER TABLE [dbo].[ResourceTopicCoverage]  WITH CHECK ADD  CONSTRAINT [CK_RTC_CoverageWeight] CHECK  (([CoverageWeight]>=(0.00) AND [CoverageWeight]<=(1.00)))
GO
ALTER TABLE [dbo].[ResourceTopicCoverage] CHECK CONSTRAINT [CK_RTC_CoverageWeight]
GO
ALTER TABLE [dbo].[ResourceTopicCoverage]  WITH CHECK ADD  CONSTRAINT [CK_RTC_DifficultyContribution] CHECK  (([DifficultyContribution]>=(0.00) AND [DifficultyContribution]<=(1.00)))
GO
ALTER TABLE [dbo].[ResourceTopicCoverage] CHECK CONSTRAINT [CK_RTC_DifficultyContribution]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [CK_TopicRel_NoSelfRef] CHECK  (([SourceTopicId]<>[TargetTopicId]))
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [CK_TopicRel_NoSelfRef]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [CK_TopicRel_Type] CHECK  (([RelationshipType]='related_to' OR [RelationshipType]='required_for' OR [RelationshipType]='prerequisite_for' OR [RelationshipType]='contains'))
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [CK_TopicRel_Type]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [CK_TopicRel_Weight] CHECK  (([Weight]>=(0.00) AND [Weight]<=(1.00)))
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [CK_TopicRel_Weight]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [CK_Topics_Type] CHECK  (([Type]='Career' OR [Type]='Tool' OR [Type]='Technique' OR [Type]='Concept' OR [Type]='Domain'))
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [CK_Topics_Type]
GO
ALTER TABLE [dbo].[UserDomains]  WITH CHECK ADD  CONSTRAINT [CK_UserDomains_Score] CHECK  (([Score]>=(0.00) AND [Score]<=(1.00)))
GO
ALTER TABLE [dbo].[UserDomains] CHECK CONSTRAINT [CK_UserDomains_Score]
GO
ALTER TABLE [dbo].[UserTopicMastery]  WITH CHECK ADD  CONSTRAINT [CK_UTM_Confidence] CHECK  (([Confidence]>=(0.00) AND [Confidence]<=(1.00)))
GO
ALTER TABLE [dbo].[UserTopicMastery] CHECK CONSTRAINT [CK_UTM_Confidence]
GO
ALTER TABLE [dbo].[UserTopicMastery]  WITH CHECK ADD  CONSTRAINT [CK_UTM_Interest] CHECK  (([Interest]>=(0.00) AND [Interest]<=(1.00)))
GO
ALTER TABLE [dbo].[UserTopicMastery] CHECK CONSTRAINT [CK_UTM_Interest]
GO
ALTER TABLE [dbo].[UserTopicMastery]  WITH CHECK ADD  CONSTRAINT [CK_UTM_Mastery] CHECK  (([Mastery]>=(0.00) AND [Mastery]<=(1.00)))
GO
ALTER TABLE [dbo].[UserTopicMastery] CHECK CONSTRAINT [CK_UTM_Mastery]
GO
/****** Object:  StoredProcedure [dbo].[usp_ComputeConfidenceScore]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ─────────────────────────────────────────────────────────────
-- SP 4: usp_ComputeConfidenceScore
-- Confidence = 0.30*SessionScore + 0.30*AssessmentScore
--            + 0.20*RecencyScore  + 0.20*ConsistencyScore
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_ComputeConfidenceScore]
    @UserId  BIGINT,
    @TopicId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @SessionCount     INT,
        @AssessCount      INT,
        @DaysSince        INT,
        @StdDev           FLOAT,
        @AvgScore         FLOAT,
        @SessionScore     DECIMAL(5,4),
        @AssessmentScore  DECIMAL(5,4),
        @RecencyScore     DECIMAL(5,4),
        @ConsistencyScore DECIMAL(5,4),
        @NormStdDev       DECIMAL(5,4),
        @FinalConfidence  DECIMAL(3,2);

    -- SessionScore: min(sessions / 20, 1.0)
    SELECT @SessionCount = COUNT(DISTINCT SS.SessionId)
    FROM   StudySessions SS
    JOIN   Evidence      E  ON E.SessionId = SS.SessionId
    WHERE  SS.UserId  = @UserId
      AND  E.TopicId  = @TopicId;

    SET @SessionScore = CAST(
        CASE WHEN @SessionCount > 20 THEN 20 ELSE @SessionCount END
    AS DECIMAL) / 20.0;

    -- AssessmentScore: min(assessments / 10, 1.0)
    SELECT @AssessCount = COUNT(*)
    FROM   Evidence E
    JOIN   StudySessions SS ON SS.SessionId = E.SessionId
    WHERE  SS.UserId  = @UserId
      AND  E.TopicId  = @TopicId
      AND  E.Type IN ('quiz', 'assessment', 'retention_test');

    SET @AssessmentScore = CAST(
        CASE WHEN @AssessCount > 10 THEN 10 ELSE @AssessCount END
    AS DECIMAL) / 10.0;

    -- RecencyScore: exp(-DaysSinceLastStudy / 60)
    SELECT @DaysSince = ISNULL(DATEDIFF(day, MAX(E.CreatedAt), GETUTCDATE()), 999)
    FROM   Evidence      E
    JOIN   StudySessions SS ON SS.SessionId = E.SessionId
    WHERE  SS.UserId  = @UserId
      AND  E.TopicId  = @TopicId;

    SET @RecencyScore = CAST(EXP(-CAST(@DaysSince AS FLOAT) / 60.0) AS DECIMAL(5,4));

    -- ConsistencyScore: 1.0 - normalized_std_dev
    SELECT
        @StdDev   = ISNULL(STDEV(E.Score), 0),
        @AvgScore = ISNULL(AVG(E.Score),   0)
    FROM Evidence      E
    JOIN StudySessions SS ON SS.SessionId = E.SessionId
    WHERE SS.UserId  = @UserId
      AND E.TopicId  = @TopicId;

    SET @NormStdDev = CAST(
        CASE WHEN @AvgScore > 0 THEN @StdDev / @AvgScore ELSE 0 END
    AS DECIMAL(5,4));

    SET @ConsistencyScore = CAST(
        1.0 - CASE WHEN @NormStdDev > 1 THEN 1.0 ELSE @NormStdDev END
    AS DECIMAL(5,4));

    -- Composite
    SET @FinalConfidence = ROUND(
        0.30 * @SessionScore
      + 0.30 * @AssessmentScore
      + 0.20 * @RecencyScore
      + 0.20 * @ConsistencyScore,
    2);

    UPDATE UserTopicMastery
    SET Confidence  = @FinalConfidence,
        LastUpdated = GETUTCDATE()
    WHERE UserId = @UserId AND TopicId = @TopicId;

    SELECT
        @UserId           AS UserId,
        @TopicId          AS TopicId,
        @SessionScore     AS SessionScore,
        @AssessmentScore  AS AssessmentScore,
        @RecencyScore     AS RecencyScore,
        @ConsistencyScore AS ConsistencyScore,
        @FinalConfidence  AS FinalConfidence;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ComputeEvidenceScore]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ─────────────────────────────────────────────────────────────
-- SP 1: usp_ComputeEvidenceScore
-- Aggregates raw Evidence rows for a (session, topic) into a
-- single bounded score [0.00 – 1.00] using MVP weights.
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_ComputeEvidenceScore]
    @SessionId      BIGINT,
    @TopicId        INT,
    @EvidenceScore  DECIMAL(3,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @QuizScore      DECIMAL(5,4) = 0,
        @StudyScore     DECIMAL(5,4) = 0,
        @RetentionScore DECIMAL(5,4) = 0;

    -- quiz / assessment  (take average if multiple rows)
    SELECT @QuizScore = ISNULL(AVG(Score), 0)
    FROM   Evidence
    WHERE  SessionId = @SessionId
      AND  TopicId   = @TopicId
      AND  Type IN ('quiz', 'assessment');

    -- study_time
    SELECT @StudyScore = ISNULL(AVG(Score), 0)
    FROM   Evidence
    WHERE  SessionId = @SessionId
      AND  TopicId   = @TopicId
      AND  Type = 'study_time';

    -- retention_test
    SELECT @RetentionScore = ISNULL(AVG(Score), 0)
    FROM   Evidence
    WHERE  SessionId = @SessionId
      AND  TopicId   = @TopicId
      AND  Type = 'retention_test';

    -- Weighted composite  (0.50 + 0.25 + 0.25 = 1.00)
    SET @EvidenceScore = ROUND(
        (0.50 * @QuizScore)
      + (0.25 * @StudyScore)
      + (0.25 * @RetentionScore),
    2);

    SELECT
        @SessionId      AS SessionId,
        @TopicId        AS TopicId,
        @QuizScore      AS QuizScore,
        @StudyScore     AS StudyScore,
        @RetentionScore AS RetentionScore,
        @EvidenceScore  AS EvidenceScore;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_EnsureUserTopicMastery]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ─────────────────────────────────────────────────────────────
-- SP: usp_EnsureUserTopicMastery
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_EnsureUserTopicMastery]
    @UserId  BIGINT,
    @TopicId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM UserTopicMastery WHERE UserId = @UserId AND TopicId = @TopicId
    )
        INSERT INTO UserTopicMastery (UserId, TopicId, Mastery, Confidence, Interest, EvidenceCount)
        VALUES (@UserId, @TopicId, 0.00, 0.00, 0.50, 0);
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrCreateResource]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ─────────────────────────────────────────────────────────────
-- SP: usp_GetOrCreateResource
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_GetOrCreateResource]
    @Title              NVARCHAR(255),
    @Type               VARCHAR(50),
    @Url                VARCHAR(2048),
    @Difficulty         INT = 2,
    @Depth              INT = 2,
    @EstimatedMinutes   INT = 30,
    @ResourceId         BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @ResourceId = ResourceId
    FROM Resources
    WHERE Url = @Url;

    IF @ResourceId IS NULL
    BEGIN
        INSERT INTO Resources (Title, Type, Url, Difficulty, Depth, EstimatedMinutes)
        VALUES (@Title, @Type, @Url, @Difficulty, @Depth, @EstimatedMinutes);

        SET @ResourceId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE Resources
        SET Title = @Title, EstimatedMinutes = @EstimatedMinutes
        WHERE ResourceId = @ResourceId;
    END

    SELECT @ResourceId AS ResourceId;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetRecommendationPriorities]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ─────────────────────────────────────────────────────────────
-- SP 5: usp_GetRecommendationPriorities
-- Priority = (RequiredMastery - Mastery) * Confidence * Interest * CareerRelevance
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_GetRecommendationPriorities]
    @UserId          BIGINT,
    @RequiredMastery DECIMAL(3,2) = 0.80
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 20
        T.TopicId,
        T.Name        AS TopicName,
        T.Type,
        T.Difficulty,
        UTM.Mastery,
        UTM.Confidence,
        UTM.Interest,
        UTM.EvidenceCount,
        ISNULL(
            CAST(GoalCount.Cnt AS DECIMAL) / NULLIF(TotalGoals.Total, 0),
        0.50)         AS CareerRelevance,
        ROUND(
            (@RequiredMastery - UTM.Mastery)
            * UTM.Confidence
            * UTM.Interest
            * ISNULL(CAST(GoalCount.Cnt AS DECIMAL) / NULLIF(TotalGoals.Total, 0), 0.50),
        4)            AS Priority
    FROM UserTopicMastery UTM
    JOIN Topics           T ON T.TopicId = UTM.TopicId
    OUTER APPLY (
        SELECT COUNT(DISTINCT G.GoalId) AS Cnt
        FROM   Goals  G
        JOIN   Topics DT ON DT.Type = 'Domain'
                         AND DT.Name LIKE '%' + T.Name + '%'
        WHERE  G.UserId = @UserId
    ) GoalCount
    CROSS JOIN (
        SELECT COUNT(*) AS Total FROM Goals WHERE UserId = @UserId
    ) TotalGoals
    WHERE UTM.UserId  = @UserId
      AND UTM.Mastery < @RequiredMastery
    ORDER BY Priority DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ProcessSession]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ─────────────────────────────────────────────────────────────
-- SP 6: usp_ProcessSession  (convenience orchestrator)
-- Runs the full telemetry pipeline for one session + topic:
--   1. Compute EvidenceScore
--   2. Update Mastery (EMA)
--   3. Update Confidence
--   4. Recalculate parent Domain score
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_ProcessSession]
    @UserId        BIGINT,
    @SessionId     BIGINT,
    @TopicId       INT,
    @DomainTopicId INT        -- parent Domain TopicId to roll up
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EvidenceScore DECIMAL(3,2);

    EXEC usp_ComputeEvidenceScore
        @SessionId     = @SessionId,
        @TopicId       = @TopicId,
        @EvidenceScore = @EvidenceScore OUTPUT;

    EXEC usp_UpdateMastery
        @UserId        = @UserId,
        @TopicId       = @TopicId,
        @EvidenceScore = @EvidenceScore;

    EXEC usp_ComputeConfidenceScore
        @UserId  = @UserId,
        @TopicId = @TopicId;

    EXEC usp_RecalcDomainScore
        @UserId        = @UserId,
        @DomainTopicId = @DomainTopicId;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RecalcDomainScore]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ─────────────────────────────────────────────────────────────
-- SP 3: usp_RecalcDomainScore
-- Weighted average of child topic masteries rolls up to Domain.
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_RecalcDomainScore]
    @UserId        BIGINT,
    @DomainTopicId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewScore DECIMAL(3,2);

    SELECT @NewScore = ROUND(
        SUM(UTM.Mastery * TR.Weight) / NULLIF(SUM(TR.Weight), 0),
    2)
    FROM TopicRelationships TR
    JOIN UserTopicMastery   UTM
        ON  UTM.UserId  = @UserId
        AND UTM.TopicId = TR.TargetTopicId
    WHERE TR.SourceTopicId    = @DomainTopicId
      AND TR.RelationshipType = 'contains';

    IF @NewScore IS NULL SET @NewScore = 0.00;

    IF EXISTS (SELECT 1 FROM UserDomains WHERE UserId = @UserId AND TopicId = @DomainTopicId)
        UPDATE UserDomains SET Score = @NewScore
        WHERE UserId = @UserId AND TopicId = @DomainTopicId;
    ELSE
        INSERT INTO UserDomains (UserId, TopicId, Score)
        VALUES (@UserId, @DomainTopicId, @NewScore);

    SELECT @UserId AS UserId, @DomainTopicId AS DomainTopicId, @NewScore AS NewDomainScore;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateMastery]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ─────────────────────────────────────────────────────────────
-- SP 2: usp_UpdateMastery
-- EMA:  NewMastery = OldMastery*(1-α) + EvidenceScore*α
-- α = 0.20 (locked per spec)
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_UpdateMastery]
    @UserId        BIGINT,
    @TopicId       INT,
    @EvidenceScore DECIMAL(3,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Alpha      DECIMAL(3,2) = 0.20;
    DECLARE @OldMastery DECIMAL(3,2) = 0.00;
    DECLARE @NewMastery DECIMAL(3,2);

    -- Upsert guard
    IF NOT EXISTS (
        SELECT 1 FROM UserTopicMastery
        WHERE UserId = @UserId AND TopicId = @TopicId
    )
        INSERT INTO UserTopicMastery (UserId, TopicId, Mastery, Confidence, Interest, EvidenceCount)
        VALUES (@UserId, @TopicId, 0.00, 0.00, 0.50, 0);

    SELECT @OldMastery = Mastery
    FROM   UserTopicMastery
    WHERE  UserId = @UserId AND TopicId = @TopicId;

    -- EMA
    SET @NewMastery = ROUND((@OldMastery * (1 - @Alpha)) + (@EvidenceScore * @Alpha), 2);

    UPDATE UserTopicMastery
    SET
        Mastery       = @NewMastery,
        EvidenceCount = EvidenceCount + 1,
        LastUpdated   = GETUTCDATE()
    WHERE UserId = @UserId AND TopicId = @TopicId;

    SELECT
        @UserId        AS UserId,
        @TopicId       AS TopicId,
        @OldMastery    AS OldMastery,
        @EvidenceScore AS EvidenceScore,
        @NewMastery    AS NewMastery;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpsertTopic]    Script Date: 21/06/2026 3:24:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ─────────────────────────────────────────────────────────────
-- SP: usp_UpsertTopic
-- ─────────────────────────────────────────────────────────────
CREATE   PROCEDURE [dbo].[usp_UpsertTopic]
    @Name            NVARCHAR(150),
    @Description     NVARCHAR(MAX) = NULL,
    @Type            VARCHAR(50) = 'Concept',
    @Difficulty      INT = 2,
    @EstimatedHours  DECIMAL(5,2) = 4.00,
    @TopicId         INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT @TopicId = TopicId FROM Topics WHERE Name = @Name;

    IF @TopicId IS NULL
    BEGIN
        INSERT INTO Topics (Name, Description, Type, Difficulty, EstimatedHours)
        VALUES (@Name, @Description, @Type, @Difficulty, @EstimatedHours);

        SET @TopicId = SCOPE_IDENTITY();
    END

    SELECT @TopicId AS TopicId, @Name AS Name,
           CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END AS Created;
END;
GO
