USE [StuckIn]
GO
/****** Object:  Table [dbo].[UserTopicMasteries]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTopicMasteries](
	[UserId] [nvarchar](450) NOT NULL,
	[TopicId] [int] NOT NULL,
	[Mastery] [decimal](3, 2) NOT NULL,
	[Confidence] [decimal](3, 2) NOT NULL,
	[Interest] [decimal](3, 2) NOT NULL,
	[EvidenceCount] [int] NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserTopicMasteries] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Difficulty] [int] NOT NULL,
	[EstimatedHours] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserSkillsView]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[UserSkillsView]
AS
SELECT
    UTM.UserId,
    T.TopicId AS TopicId,
    T.Name AS SkillName,
    UTM.Mastery AS Proficiency,
    UTM.Confidence AS Confidence,
    UTM.EvidenceCount AS EvidenceCount,
    UTM.LastUpdated AS LastUpdated
FROM dbo.UserTopicMasteries UTM
JOIN dbo.Topics T ON UTM.TopicId = T.TopicId;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerChoices]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerChoices](
	[ChoiceId] [int] IDENTITY(1,1) NOT NULL,
	[AnswerId] [int] NOT NULL,
	[ChoiceKey] [nvarchar](1) NOT NULL,
	[ChoiceValue] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AnswerChoices] PRIMARY KEY CLUSTERED 
(
	[ChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[BirthDate] [datetime2](7) NULL,
	[Mobile] [nvarchar](max) NOT NULL,
	[CountryId] [int] NULL,
	[GovernorateId] [int] NULL,
	[CityId] [int] NULL,
	[PostalCode] [nvarchar](max) NOT NULL,
	[InterestsToLearn] [nvarchar](max) NOT NULL,
	[CreatorUserId] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifierUserId] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeleterUserId] [nvarchar](max) NULL,
	[DeletedOn] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[IsPaidUser] [bit] NOT NULL,
	[LastMinutesResetDate] [datetime2](7) NULL,
	[SessionMinutes] [int] NOT NULL,
	[SubscriptionEndDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[CertificateId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Issuer] [nvarchar](max) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[CredentialId] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Certificates] PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[GovernorateId] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[EducationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Institution] [nvarchar](max) NOT NULL,
	[Degree] [nvarchar](max) NOT NULL,
	[Field] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Educations] PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evidence]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evidence](
	[EvidenceId] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionId] [bigint] NOT NULL,
	[TopicId] [int] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Score] [decimal](3, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Evidence] PRIMARY KEY CLUSTERED 
(
	[EvidenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamSessions]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[Score] [decimal](3, 2) NULL,
	[TotalQuestions] [int] NULL,
	[Passed] [bit] NULL,
 CONSTRAINT [PK_ExamSessions] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experiences]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiences](
	[ExperienceId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Company] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Current] [bit] NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Experiences] PRIMARY KEY CLUSTERED 
(
	[ExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[GoalId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Priority] [int] NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Goals] PRIMARY KEY CLUSTERED 
(
	[GoalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Governorates]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Governorates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_Governorates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentType] [int] NOT NULL,
	[SubscriptionPlanId] [int] NULL,
	[MinutesPurchased] [int] NULL,
	[StripePaymentIntentId] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CompletedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Technologies] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[SessionId] [bigint] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[ResourceId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Difficulty] [int] NOT NULL,
	[Depth] [int] NOT NULL,
	[EstimatedMinutes] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResourceTopicCoverages]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceTopicCoverages](
	[ResourceId] [bigint] NOT NULL,
	[TopicId] [int] NOT NULL,
	[CoverageWeight] [decimal](3, 2) NOT NULL,
	[DifficultyContribution] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_ResourceTopicCoverages] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC,
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionAnswers]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionAnswers](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[Topic] [nvarchar](max) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[UserAnswer] [nvarchar](max) NOT NULL,
	[CorrectAnswer] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NULL,
	[Explanation] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SessionAnswers] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudySessions]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudySessions](
	[SessionId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ResourceId] [bigint] NULL,
	[StartedAt] [datetime2](7) NOT NULL,
	[EndedAt] [datetime2](7) NULL,
	[SessionSummary] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StudySessions] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPlans]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPlans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DurationInDays] [int] NOT NULL,
	[SessionMinutes] [int] NOT NULL,
	[PlanType] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SubscriptionPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[SubscriptionPlanId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[StripeSubscriptionId] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Subscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicRelationships]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicRelationships](
	[RelationshipId] [int] IDENTITY(1,1) NOT NULL,
	[SourceTopicId] [int] NOT NULL,
	[TargetTopicId] [int] NOT NULL,
	[RelationshipType] [nvarchar](max) NOT NULL,
	[Weight] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_TopicRelationships] PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDomains]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDomains](
	[UserId] [nvarchar](450) NOT NULL,
	[TopicId] [int] NOT NULL,
	[Score] [decimal](3, 2) NOT NULL,
 CONSTRAINT [PK_UserDomains] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInterests]    Script Date: 25/06/2026 3:20:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInterests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Interest] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserInterests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPaidUser]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [SessionMinutes]
GO
ALTER TABLE [dbo].[Certificates] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Educations] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Evidence] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Experiences] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Current]
GO
ALTER TABLE [dbo].[Experiences] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Experiences] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[Goals] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((1)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT ((1)) FOR [Depth]
GO
ALTER TABLE [dbo].[Resources] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ResourceTopicCoverages] ADD  DEFAULT ((1.0)) FOR [CoverageWeight]
GO
ALTER TABLE [dbo].[ResourceTopicCoverages] ADD  DEFAULT ((1.0)) FOR [DifficultyContribution]
GO
ALTER TABLE [dbo].[TopicRelationships] ADD  DEFAULT ((1.0)) FOR [Weight]
GO
ALTER TABLE [dbo].[Topics] ADD  DEFAULT ((1)) FOR [Difficulty]
GO
ALTER TABLE [dbo].[UserTopicMasteries] ADD  DEFAULT ((0.0)) FOR [Mastery]
GO
ALTER TABLE [dbo].[UserTopicMasteries] ADD  DEFAULT ((0.0)) FOR [Confidence]
GO
ALTER TABLE [dbo].[UserTopicMasteries] ADD  DEFAULT ((0.5)) FOR [Interest]
GO
ALTER TABLE [dbo].[UserTopicMasteries] ADD  DEFAULT ((0)) FOR [EvidenceCount]
GO
ALTER TABLE [dbo].[UserTopicMasteries] ADD  DEFAULT (getutcdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[AnswerChoices]  WITH CHECK ADD  CONSTRAINT [FK_AnswerChoices_SessionAnswers_AnswerId] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[SessionAnswers] ([AnswerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnswerChoices] CHECK CONSTRAINT [FK_AnswerChoices_SessionAnswers_AnswerId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Cities_CityId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Countries_CountryId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Governorates_GovernorateId] FOREIGN KEY([GovernorateId])
REFERENCES [dbo].[Governorates] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Governorates_GovernorateId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD  CONSTRAINT [FK_Certificates_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Certificates] CHECK CONSTRAINT [FK_Certificates_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Governorates_GovernorateId] FOREIGN KEY([GovernorateId])
REFERENCES [dbo].[Governorates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Governorates_GovernorateId]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_Educations_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_Educations_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Evidence]  WITH CHECK ADD  CONSTRAINT [FK_Evidence_StudySessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[StudySessions] ([SessionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Evidence] CHECK CONSTRAINT [FK_Evidence_StudySessions_SessionId]
GO
ALTER TABLE [dbo].[Evidence]  WITH CHECK ADD  CONSTRAINT [FK_Evidence_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[Evidence] CHECK CONSTRAINT [FK_Evidence_Topics_TopicId]
GO
ALTER TABLE [dbo].[Experiences]  WITH CHECK ADD  CONSTRAINT [FK_Experiences_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Experiences] CHECK CONSTRAINT [FK_Experiences_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Goals]  WITH CHECK ADD  CONSTRAINT [FK_Goals_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Goals] CHECK CONSTRAINT [FK_Goals_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Governorates]  WITH CHECK ADD  CONSTRAINT [FK_Governorates_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Governorates] CHECK CONSTRAINT [FK_Governorates_Countries_CountryId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_SubscriptionPlans_SubscriptionPlanId] FOREIGN KEY([SubscriptionPlanId])
REFERENCES [dbo].[SubscriptionPlans] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_SubscriptionPlans_SubscriptionPlanId]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_StudySessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[StudySessions] ([SessionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_StudySessions_SessionId]
GO
ALTER TABLE [dbo].[ResourceTopicCoverages]  WITH CHECK ADD  CONSTRAINT [FK_ResourceTopicCoverages_Resources_ResourceId] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResourceTopicCoverages] CHECK CONSTRAINT [FK_ResourceTopicCoverages_Resources_ResourceId]
GO
ALTER TABLE [dbo].[ResourceTopicCoverages]  WITH CHECK ADD  CONSTRAINT [FK_ResourceTopicCoverages_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[ResourceTopicCoverages] CHECK CONSTRAINT [FK_ResourceTopicCoverages_Topics_TopicId]
GO
ALTER TABLE [dbo].[SessionAnswers]  WITH CHECK ADD  CONSTRAINT [FK_SessionAnswers_ExamSessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[ExamSessions] ([SessionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SessionAnswers] CHECK CONSTRAINT [FK_SessionAnswers_ExamSessions_SessionId]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [FK_StudySessions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [FK_StudySessions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[StudySessions]  WITH CHECK ADD  CONSTRAINT [FK_StudySessions_Resources_ResourceId] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
GO
ALTER TABLE [dbo].[StudySessions] CHECK CONSTRAINT [FK_StudySessions_Resources_ResourceId]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_SubscriptionPlans_SubscriptionPlanId] FOREIGN KEY([SubscriptionPlanId])
REFERENCES [dbo].[SubscriptionPlans] ([Id])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_SubscriptionPlans_SubscriptionPlanId]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [FK_TopicRelationships_Topics_SourceTopicId] FOREIGN KEY([SourceTopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [FK_TopicRelationships_Topics_SourceTopicId]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [FK_TopicRelationships_Topics_TargetTopicId] FOREIGN KEY([TargetTopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [FK_TopicRelationships_Topics_TargetTopicId]
GO
ALTER TABLE [dbo].[UserDomains]  WITH CHECK ADD  CONSTRAINT [FK_UserDomains_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDomains] CHECK CONSTRAINT [FK_UserDomains_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserDomains]  WITH CHECK ADD  CONSTRAINT [FK_UserDomains_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[UserDomains] CHECK CONSTRAINT [FK_UserDomains_Topics_TopicId]
GO
ALTER TABLE [dbo].[UserInterests]  WITH CHECK ADD  CONSTRAINT [FK_UserInterests_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserInterests] CHECK CONSTRAINT [FK_UserInterests_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserTopicMasteries]  WITH CHECK ADD  CONSTRAINT [FK_UserTopicMasteries_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTopicMasteries] CHECK CONSTRAINT [FK_UserTopicMasteries_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserTopicMasteries]  WITH CHECK ADD  CONSTRAINT [FK_UserTopicMasteries_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[UserTopicMasteries] CHECK CONSTRAINT [FK_UserTopicMasteries_Topics_TopicId]
GO
ALTER TABLE [dbo].[Evidence]  WITH CHECK ADD  CONSTRAINT [CK_Evidence_Score] CHECK  (([Score]>=(0.00) AND [Score]<=(1.00)))
GO
ALTER TABLE [dbo].[Evidence] CHECK CONSTRAINT [CK_Evidence_Score]
GO
ALTER TABLE [dbo].[Evidence]  WITH CHECK ADD  CONSTRAINT [CK_Evidence_Type] CHECK  (([Type]='retention_test' OR [Type]='assessment' OR [Type]='study_time' OR [Type]='quiz'))
GO
ALTER TABLE [dbo].[Evidence] CHECK CONSTRAINT [CK_Evidence_Type]
GO
ALTER TABLE [dbo].[ExamSessions]  WITH CHECK ADD  CONSTRAINT [CHK_Score_Range] CHECK  (([Score]>=(0.00) AND [Score]<=(1.00)))
GO
ALTER TABLE [dbo].[ExamSessions] CHECK CONSTRAINT [CHK_Score_Range]
GO
ALTER TABLE [dbo].[Resources]  WITH CHECK ADD  CONSTRAINT [CK_Resources_Type] CHECK  (([Type]='Documentation' OR [Type]='PDF' OR [Type]='Article' OR [Type]='Book' OR [Type]='Course' OR [Type]='Youtube'))
GO
ALTER TABLE [dbo].[Resources] CHECK CONSTRAINT [CK_Resources_Type]
GO
ALTER TABLE [dbo].[ResourceTopicCoverages]  WITH CHECK ADD  CONSTRAINT [CK_RTC_CoverageWeight] CHECK  (([CoverageWeight]>=(0.00) AND [CoverageWeight]<=(1.00)))
GO
ALTER TABLE [dbo].[ResourceTopicCoverages] CHECK CONSTRAINT [CK_RTC_CoverageWeight]
GO
ALTER TABLE [dbo].[ResourceTopicCoverages]  WITH CHECK ADD  CONSTRAINT [CK_RTC_DifficultyContribution] CHECK  (([DifficultyContribution]>=(0.00) AND [DifficultyContribution]<=(1.00)))
GO
ALTER TABLE [dbo].[ResourceTopicCoverages] CHECK CONSTRAINT [CK_RTC_DifficultyContribution]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [CK_TopicRel_NoSelfRef] CHECK  (([SourceTopicId]<>[TargetTopicId]))
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [CK_TopicRel_NoSelfRef]
GO
ALTER TABLE [dbo].[TopicRelationships]  WITH CHECK ADD  CONSTRAINT [CK_TopicRel_Type] CHECK  (([RelationshipType]='related_to' OR [RelationshipType]='required_for' OR [RelationshipType]='prerequisite_for' OR [RelationshipType]='contains'))
GO
ALTER TABLE [dbo].[TopicRelationships] CHECK CONSTRAINT [CK_TopicRel_Type]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [CK_Topics_Type] CHECK  (([Type]='Career' OR [Type]='Tool' OR [Type]='Technique' OR [Type]='Concept' OR [Type]='Domain'))
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [CK_Topics_Type]
GO
ALTER TABLE [dbo].[UserDomains]  WITH CHECK ADD  CONSTRAINT [CK_UserDomains_Score] CHECK  (([Score]>=(0.00) AND [Score]<=(1.00)))
GO
ALTER TABLE [dbo].[UserDomains] CHECK CONSTRAINT [CK_UserDomains_Score]
GO
ALTER TABLE [dbo].[UserTopicMasteries]  WITH CHECK ADD  CONSTRAINT [CK_UTM_Confidence] CHECK  (([Confidence]>=(0.00) AND [Confidence]<=(1.00)))
GO
ALTER TABLE [dbo].[UserTopicMasteries] CHECK CONSTRAINT [CK_UTM_Confidence]
GO
ALTER TABLE [dbo].[UserTopicMasteries]  WITH CHECK ADD  CONSTRAINT [CK_UTM_Interest] CHECK  (([Interest]>=(0.00) AND [Interest]<=(1.00)))
GO
ALTER TABLE [dbo].[UserTopicMasteries] CHECK CONSTRAINT [CK_UTM_Interest]
GO
ALTER TABLE [dbo].[UserTopicMasteries]  WITH CHECK ADD  CONSTRAINT [CK_UTM_Mastery] CHECK  (([Mastery]>=(0.00) AND [Mastery]<=(1.00)))
GO
ALTER TABLE [dbo].[UserTopicMasteries] CHECK CONSTRAINT [CK_UTM_Mastery]
GO
/****** Object:  StoredProcedure [dbo].[usp_ComputeConfidenceScore]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Calculates confidence score using formula:
-- Confidence = 0.30*SessionScore + 0.30*AssessmentScore + 0.20*RecencyScore + 0.20*ConsistencyScore
CREATE PROCEDURE [dbo].[usp_ComputeConfidenceScore]
    @UserId  NVARCHAR(450),
    @TopicId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @SessionCount     INT,
        @AssessCount      INT,
        @DaysSince        INT,
        @StdDev           FLOAT,
        @AvgScore         FLOAT,
        @SessionScore     DECIMAL(5,4),
        @AssessmentScore  DECIMAL(5,4),
        @RecencyScore     DECIMAL(5,4),
        @ConsistencyScore DECIMAL(5,4),
        @NormStdDev       DECIMAL(5,4),
        @FinalConfidence  DECIMAL(3,2);

    -- SessionScore: min(distinct_sessions / 20, 1.0)
    SELECT @SessionCount = COUNT(DISTINCT SS.SessionId)
    FROM   StudySessions SS
    JOIN   Evidence      E  ON E.SessionId = SS.SessionId
    WHERE  SS.UserId  = @UserId
      AND  E.TopicId  = @TopicId;

    SET @SessionScore = CAST(
        CASE WHEN @SessionCount > 20 THEN 20 ELSE @SessionCount END
    AS DECIMAL(5,4)) / 20.0;

    -- AssessmentScore: min(assessment_count / 10, 1.0)
    SELECT @AssessCount = COUNT(*)
    FROM   Evidence E
    JOIN   StudySessions SS ON SS.SessionId = E.SessionId
    WHERE  SS.UserId  = @UserId
      AND  E.TopicId  = @TopicId
      AND  E.Type IN ('quiz', 'assessment', 'retention_test');

    SET @AssessmentScore = CAST(
        CASE WHEN @AssessCount > 10 THEN 10 ELSE @AssessCount END
    AS DECIMAL(5,4)) / 10.0;

    -- RecencyScore: exp(-DaysSinceLastStudy / 60)
    SELECT @DaysSince = ISNULL(DATEDIFF(day, MAX(E.CreatedAt), GETUTCDATE()), 999)
    FROM   Evidence      E
    JOIN   StudySessions SS ON SS.SessionId = E.SessionId
    WHERE  SS.UserId  = @UserId
      AND  E.TopicId  = @TopicId;

    SET @RecencyScore = CAST(EXP(-CAST(@DaysSince AS FLOAT) / 60.0) AS DECIMAL(5,4));

    -- ConsistencyScore: 1.0 - normalized_std_dev
    SELECT
        @StdDev   = ISNULL(STDEV(CAST(E.Score AS FLOAT)), 0),
        @AvgScore = ISNULL(AVG(CAST(E.Score AS FLOAT)), 0)
    FROM Evidence      E
    JOIN StudySessions SS ON SS.SessionId = E.SessionId
    WHERE SS.UserId  = @UserId
      AND E.TopicId  = @TopicId;

    SET @NormStdDev = CAST(
        CASE WHEN @AvgScore > 0 THEN @StdDev / @AvgScore ELSE 0 END
    AS DECIMAL(5,4));

    SET @ConsistencyScore = CAST(
        1.0 - CASE WHEN @NormStdDev > 1 THEN 1.0 ELSE @NormStdDev END
    AS DECIMAL(5,4));

    -- Composite confidence
    SET @FinalConfidence = ROUND(
        0.30 * @SessionScore
      + 0.30 * @AssessmentScore
      + 0.20 * @RecencyScore
      + 0.20 * @ConsistencyScore,
    2);

    -- Update UserTopicMastery
    UPDATE UserTopicMasteries
    SET Confidence  = @FinalConfidence,
        LastUpdated = GETUTCDATE()
    WHERE UserId = @UserId AND TopicId = @TopicId;

    SELECT
        @UserId           AS UserId,
        @TopicId          AS TopicId,
        @SessionScore     AS SessionScore,
        @AssessmentScore  AS AssessmentScore,
        @RecencyScore     AS RecencyScore,
        @ConsistencyScore AS ConsistencyScore,
        @FinalConfidence  AS FinalConfidence;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ComputeEvidenceScore]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Aggregates Evidence records for a (SessionId, TopicId) into single score
CREATE PROCEDURE [dbo].[usp_ComputeEvidenceScore]
    @SessionId      BIGINT,
    @TopicId        INT,
    @EvidenceScore  DECIMAL(3,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @QuizScore      DECIMAL(5,4) = 0,
        @StudyScore     DECIMAL(5,4) = 0,
        @RetentionScore DECIMAL(5,4) = 0;

    -- quiz/assessment scores (average if multiple records)
    SELECT @QuizScore = ISNULL(AVG(CAST(Score AS DECIMAL(5,4))), 0)
    FROM   Evidence
    WHERE  SessionId = @SessionId
      AND  TopicId   = @TopicId
      AND  Type IN ('quiz', 'assessment');

    -- study_time score
    SELECT @StudyScore = ISNULL(AVG(CAST(Score AS DECIMAL(5,4))), 0)
    FROM   Evidence
    WHERE  SessionId = @SessionId
      AND  TopicId   = @TopicId
      AND  Type = 'study_time';

    -- retention_test score
    SELECT @RetentionScore = ISNULL(AVG(CAST(Score AS DECIMAL(5,4))), 0)
    FROM   Evidence
    WHERE  SessionId = @SessionId
      AND  TopicId   = @TopicId
      AND  Type = 'retention_test';

    -- Weighted composite (0.50 + 0.25 + 0.25 = 1.00)
    SET @EvidenceScore = ROUND(
        (0.50 * @QuizScore)
      + (0.25 * @StudyScore)
      + (0.25 * @RetentionScore),
    2);

    SELECT
        @SessionId      AS SessionId,
        @TopicId        AS TopicId,
        @QuizScore      AS QuizScore,
        @StudyScore     AS StudyScore,
        @RetentionScore AS RetentionScore,
        @EvidenceScore  AS EvidenceScore;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_EnsureUserTopicMastery]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creates UserTopicMastery record if it doesn't exist
CREATE PROCEDURE [dbo].[usp_EnsureUserTopicMastery]
    @UserId  NVARCHAR(450),
    @TopicId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM UserTopicMasteries WHERE UserId = @UserId AND TopicId = @TopicId
    )
        INSERT INTO UserTopicMasteries (UserId, TopicId, Mastery, Confidence, Interest, EvidenceCount, LastUpdated)
        VALUES (@UserId, @TopicId, 0.00, 0.00, 0.50, 0, GETUTCDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrCreateResource]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Gets existing Resource by URL or creates new one
CREATE PROCEDURE [dbo].[usp_GetOrCreateResource]
    @Title              NVARCHAR(255),
    @Type               VARCHAR(50),
    @Url                VARCHAR(2048),
    @Difficulty         INT = 1,
    @Depth              INT = 1,
    @EstimatedMinutes   INT = 30,
    @ResourceId         BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if resource exists
    SELECT @ResourceId = ResourceId
    FROM Resources
    WHERE Url = @Url;

    IF @ResourceId IS NULL
    BEGIN
        -- Create new resource
        INSERT INTO Resources (Title, Type, Url, Difficulty, Depth, EstimatedMinutes, CreatedAt)
        VALUES (@Title, @Type, @Url, @Difficulty, @Depth, @EstimatedMinutes, GETUTCDATE());

        SET @ResourceId = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- Update existing resource
        UPDATE Resources
        SET Title = @Title, EstimatedMinutes = @EstimatedMinutes
        WHERE ResourceId = @ResourceId;
    END

    SELECT @ResourceId AS ResourceId;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_GetRecommendationPriorities]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Returns top 20 topics by learning priority
-- Priority = (RequiredMastery - Mastery) * Confidence * Interest * CareerRelevance
CREATE PROCEDURE [dbo].[usp_GetRecommendationPriorities]
    @UserId          NVARCHAR(450),
    @RequiredMastery DECIMAL(3,2) = 0.80
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 20
        T.TopicId,
        T.Name        AS TopicName,
        T.Type,
        T.Difficulty,
        UTM.Mastery,
        UTM.Confidence,
        UTM.Interest,
        UTM.EvidenceCount,
        ISNULL(
            CAST(GoalCount.Cnt AS DECIMAL) / NULLIF(TotalGoals.Total, 0),
        0.50)         AS CareerRelevance,
        ROUND(
            (@RequiredMastery - UTM.Mastery)
            * UTM.Confidence
            * UTM.Interest
            * ISNULL(CAST(GoalCount.Cnt AS DECIMAL) / NULLIF(TotalGoals.Total, 0), 0.50),
        4)            AS Priority
    FROM UserTopicMasteries UTM
    JOIN Topics           T ON T.TopicId = UTM.TopicId
    OUTER APPLY (
        SELECT COUNT(DISTINCT G.GoalId) AS Cnt
        FROM   Goals  G
        JOIN   Topics DT ON DT.Type = 'Domain'
                         AND DT.Name LIKE '%' + T.Name + '%'
        WHERE  G.UserId = @UserId
    ) GoalCount
    CROSS JOIN (
        SELECT COUNT(*) AS Total FROM Goals WHERE UserId = @UserId
    ) TotalGoals
    WHERE UTM.UserId  = @UserId
      AND UTM.Mastery < @RequiredMastery
    ORDER BY Priority DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ProcessSession]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Orchestrator SP: Runs full telemetry pipeline
-- 1. Compute EvidenceScore
-- 2. Update Mastery (EMA)
-- 3. Compute Confidence
-- 4. Recalculate Domain score
CREATE PROCEDURE [dbo].[usp_ProcessSession]
    @UserId        NVARCHAR(450),
    @SessionId     BIGINT,
    @TopicId       INT,
    @DomainTopicId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EvidenceScore DECIMAL(3,2);

    -- Step 1: Compute evidence score
    EXEC usp_ComputeEvidenceScore
        @SessionId     = @SessionId,
        @TopicId       = @TopicId,
        @EvidenceScore = @EvidenceScore OUTPUT;

    -- Step 2: Update mastery
    EXEC usp_UpdateMastery
        @UserId        = @UserId,
        @TopicId       = @TopicId,
        @EvidenceScore = @EvidenceScore;

    -- Step 3: Compute confidence
    EXEC usp_ComputeConfidenceScore
        @UserId  = @UserId,
        @TopicId = @TopicId;

    -- Step 4: Recalculate domain score
    EXEC usp_RecalcDomainScore
        @UserId        = @UserId,
        @DomainTopicId = @DomainTopicId;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_RecalcDomainScore]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Calculates Domain score as weighted average of child topic masteries
CREATE PROCEDURE [dbo].[usp_RecalcDomainScore]
    @UserId        NVARCHAR(450),
    @DomainTopicId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewScore DECIMAL(3,2);

    -- Calculate weighted average of child topics
    SELECT @NewScore = ROUND(
        SUM(UTM.Mastery * TR.Weight) / NULLIF(SUM(TR.Weight), 0),
    2)
    FROM TopicRelationships TR
    JOIN UserTopicMasteries   UTM
        ON  UTM.UserId  = @UserId
        AND UTM.TopicId = TR.TargetTopicId
    WHERE TR.SourceTopicId    = @DomainTopicId
      AND TR.RelationshipType = 'contains';

    IF @NewScore IS NULL SET @NewScore = 0.00;

    -- Upsert UserDomains
    IF EXISTS (SELECT 1 FROM UserDomains WHERE UserId = @UserId AND TopicId = @DomainTopicId)
        UPDATE UserDomains SET Score = @NewScore
        WHERE UserId = @UserId AND TopicId = @DomainTopicId;
    ELSE
        INSERT INTO UserDomains (UserId, TopicId, Score)
        VALUES (@UserId, @DomainTopicId, @NewScore);

    SELECT @UserId AS UserId, @DomainTopicId AS DomainTopicId, @NewScore AS NewDomainScore;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateMastery]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Updates mastery using EMA formula: NewMastery = OldMastery*(1-α) + EvidenceScore*α, where α=0.20
CREATE PROCEDURE [dbo].[usp_UpdateMastery]
    @UserId        NVARCHAR(450),
    @TopicId       INT,
    @EvidenceScore DECIMAL(3,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Alpha      DECIMAL(3,2) = 0.20;
    DECLARE @OldMastery DECIMAL(3,2) = 0.00;
    DECLARE @NewMastery DECIMAL(3,2);

    -- Ensure UserTopicMastery record exists
    IF NOT EXISTS (
        SELECT 1 FROM UserTopicMasteries
        WHERE UserId = @UserId AND TopicId = @TopicId
    )
        INSERT INTO UserTopicMasteries (UserId, TopicId, Mastery, Confidence, Interest, EvidenceCount, LastUpdated)
        VALUES (@UserId, @TopicId, 0.00, 0.00, 0.50, 0, GETUTCDATE());

    -- Get old mastery value
    SELECT @OldMastery = Mastery
    FROM   UserTopicMasteries
    WHERE  UserId = @UserId AND TopicId = @TopicId;

    -- Calculate new mastery via EMA
    SET @NewMastery = ROUND((@OldMastery * (1 - @Alpha)) + (@EvidenceScore * @Alpha), 2);

    -- Update record
    UPDATE UserTopicMasteries
    SET
        Mastery       = @NewMastery,
        EvidenceCount = EvidenceCount + 1,
        LastUpdated   = GETUTCDATE()
    WHERE UserId = @UserId AND TopicId = @TopicId;

    SELECT
        @UserId        AS UserId,
        @TopicId       AS TopicId,
        @OldMastery    AS OldMastery,
        @EvidenceScore AS EvidenceScore,
        @NewMastery    AS NewMastery;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_UpsertTopic]    Script Date: 25/06/2026 3:20:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Creates or gets Topic by Name
CREATE PROCEDURE [dbo].[usp_UpsertTopic]
    @Name            NVARCHAR(150),
    @Description     NVARCHAR(MAX) = NULL,
    @Type            VARCHAR(50) = 'Concept',
    @Difficulty      INT = 1,
    @EstimatedHours  DECIMAL(5,2) = 4.00,
    @TopicId         INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if topic exists
    SELECT @TopicId = TopicId FROM Topics WHERE Name = @Name;

    IF @TopicId IS NULL
    BEGIN
        -- Create new topic
        INSERT INTO Topics (Name, Description, Type, Difficulty, EstimatedHours)
        VALUES (@Name, @Description, @Type, @Difficulty, @EstimatedHours);

        SET @TopicId = SCOPE_IDENTITY();
    END

    SELECT @TopicId AS TopicId, @Name AS Name,
           CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END AS Created;
END;
GO
